<div class="row">
  <div class="col-md-9">
    <p class="text-success">{{successMessage}}</p>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-sm" style="background-color: lightgrey;">
      <tbody>
      <tr *ngFor="let event of events">
        <td class="central">{{event.eventName}}</td>
        <td class="central">{{event.eventPlace}}</td>
        <td><a><button href="/event/{{event.eventId}}" type="button" class="btn btn-outline-warning">Редактировать</button></a></td>
        <td><button type="button" class="btn btn-outline-danger" (click)="deleteEvent(event.eventId)">Удалить</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-sm">
      <tbody>
      <tr>
        <td><button routerLink="/event" type="button" class="btn btn-outline-success">Добавить новое событие</button></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
