<div class="row">
  <div class="col-md-9">
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-sm" style="background-color: lightgrey;">
      <tbody>
      <tr *ngFor="let event of events">
        <td class="central">{{event.eventName}}</td>
        <td class="central">{{event.eventPlace}}</td>
        <td><a><button routerLink="/event/{{event.eventId}}" type="button" class="btn btn-outline-warning">Редактировать</button></a></td>
        <td><button type="button" class="btn btn-outline-danger" (click)="setEventToDelete(event.eventId, event.eventName); open(content);">Удалить</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-sm">
      <tbody>
      <tr>
        <td><button routerLink="/event" type="button" class="btn btn-outline-success">Добавить новое событие</button></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title ">Внимание!!!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Вы действительно хотите удалить событие "{{eventNameToDelete}}"?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="c('Close click'); deleteEvent();">Удалить</button>
    <button type="button" class="btn btn-outline-info" (click)="c('Close click')">Отмена</button>
  </div>
</ng-template>
