<div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-outline-info" (click)="goBack()">Назад</button>
    </div>
    <div class="col-md-9">
      <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
      <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
    </div>
</div>

<div class="row padding-top-20">
  <div class="col-md-9">
    <table class="table table-sm" style="vertical-align: middle;">
      <tbody>
      <tr>
        <td>Категория:</td>
        <td>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic"
                    ngbDropdownToggle>{{selectedCategory.categoryName}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownBasic">
              <button *ngFor="let category of categories" class="dropdown-item"
                      (click)="SetSelectedCategory(category)">{{category.categoryName}}</button>
            </div>
          </div>
        </td>
        <td>Наименование:</td>
        <td><input class="form-control" placeholder="Имя события" value="{{newEventName}}"
                   (focusout)="setNewEventName($event);"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-sm" style="vertical-align: middle;">
      <tbody>
      <tr style="float: right;">
        <td>Место проведения:</td>
        <td><input class="form-control" placeholder="Место проведения" value="{{newEventPlaceName}}"
                   (focusout)="setNewEventPlaceName($event);"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row padding-top-20">
  <div class="col-md-9">
    <table class="table table-sm" style="vertical-align: middle;">
      <tbody>
      <tr *ngFor="let timePeriod of timePeriods; let i = index">
        <td><p *ngIf="i == 0">Периоды начала и конца:</p></td>
        <td>
          {{timePeriod.eventBeginningTimeInString}}
          <!--{{timePeriod.eventBeginningTime}}-->
        </td>
        <td>
          {{timePeriod.eventEndTimeInString}}
          <!--{{timePeriod.eventEndTime}}-->
        </td>
        <td><button type="button" class="btn btn-outline-danger" (click)="removeTimePeriod(i)">-</button></td>
      </tr>
      </tbody>
    </table>
    <table class="table table-sm" style="vertical-align: middle;">
      <tbody>
      <tr style="border: 2px solid lightgrey; margin-top: 5px;">
        <td></td>
        <td>
          <p>Введите начало периода события:</p>
          <ngb-timepicker [(ngModel)]="selectedBeginningTime"></ngb-timepicker>
          <!--{{ selectedBeginningTime | json }}-->
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp1" [(ngModel)]="selectedBeginningDate" ngbDatepicker #d1="ngbDatepicker">
                <div class="input-group-addon" (click)="d1.toggle()" >
                  <img src="../../img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </div>
              </div>
            </div>
          </form>
          <!--{{ selectedBeginningDate | json }}-->
        </td>
        <td>
          <p>Введите конец периода события:</p>
          <ngb-timepicker [(ngModel)]="selectedEndTime"></ngb-timepicker>
          <!--{{ selectedEndTime | json }}-->
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp2" [(ngModel)]="selectedEndDate" ngbDatepicker #d2="ngbDatepicker">
                <div class="input-group-addon" (click)="d2.toggle()" >
                  <img src="../../img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </div>
              </div>
            </div>
          </form>
          <!--{{ selectedEndDate | json }}-->
        </td>
        <td><button type="button" class="btn btn-outline-success" (click)="pushNewTimePeriod()">+</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <button type="button" class="btn btn-outline-success" (click)="addNewEvent()">Добавить событие</button>
  </div>
</div>



