<div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-outline-info" (click)="goBack()">Назад</button>
    </div>
    <div class="col-md-6">
      <p class="text-success">Операция завершена успешно</p>
      <!--<p class="text-danger">Произошла ошибка</p>-->
    </div>
</div>

<div class="row padding-top-20">
  <div class="col-md-9">
    <table class="table table-sm" style="vertical-align: middle;">
      <tbody>
      <tr>
        <td>Категория:</td>
        <td>
          <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Выберите категорию</button>
          <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Ближайший час</button>
            <button class="dropdown-item">Ближайшие 2 часа</button>
            <button class="dropdown-item">Сегодня</button>
            <button class="dropdown-item">Завтра</button>
          </div>
        </div></td>
        <td>Наименование:</td>
        <td><input type="email" class="form-control" id="dfs" placeholder="Имя категории" value="Классическая музыка"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-sm" style="vertical-align: middle;">
      <tbody>
      <tr style="float: right;">
        <td>Место проведения:</td>
        <td><input type="email" class="form-control" id="df" placeholder="Имя категории" value="Классическая музыка"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row padding-top-20">
  <div class="col-md-9">
    <table class="table table-sm" style="vertical-align: middle;">
      <tbody>
      <tr>
        <td>Дата и время начала и конца проведения события:</td>
        <td>11.05.2017 22:35</td>
        <td>11.05.2017 23:35</td>
        <td><button type="button" class="btn btn-outline-danger">-</button></td>
      </tr>
      <tr>
        <td></td>
        <td>11.05.2017 22:35</td>
        <td>11.05.2017 23:35</td>
        <td><button type="button" class="btn btn-outline-danger">-</button></td>
      </tr>
      <tr>
        <td></td>
        <td>11.05.2017 22:35</td>
        <td>11.05.2017 23:35</td>
        <td><button type="button" class="btn btn-outline-danger">-</button></td>
      </tr>
      <tr>
        <td></td>
        <td><ngb-timepicker [(ngModel)]="time"></ngb-timepicker> <ngbd-datepicker-popup></ngbd-datepicker-popup></td>
        <td><ngb-timepicker [(ngModel)]="time"></ngb-timepicker> <ngbd-datepicker-popup></ngbd-datepicker-popup></td>
        <td><button type="button" class="btn btn-outline-success">+</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <button type="button" class="btn btn-outline-success" style="float: right">Редактировать</button>
  </div>
</div>



