<div class="row">
  <div class="col-md-9">
    <p class="text-success">Операция завершена успешно</p>
    <p class="text-danger">Произошла ошибка</p>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-sm" style="background-color: lightgrey;">
      <tbody>
      <tr>
        <td class="central">От заката до рассвета</td>
        <td class="central">Кинотеатр "Беларусь"</td>
        <td><a><button href="/event" type="button" class="btn btn-outline-warning">Редактировать</button></a></td>
        <td><button type="button" class="btn btn-outline-danger">Удалить</button></td>
      </tr>
      <tr>
        <td class="central">От заката до рассвета</td>
        <td class="central">Кинотеатр "Беларусь"</td>
        <td><button type="button" class="btn btn-outline-warning">Редактировать</button></td>
        <td><button type="button" class="btn btn-outline-danger">Удалить</button></td>
      </tr>
      <tr>
        <td class="central">От заката до рассвета</td>
        <td class="central">Кинотеатр "Беларусь"</td>
        <td><button type="button" class="btn btn-outline-warning">Редактировать</button></td>
        <td><button type="button" class="btn btn-outline-danger">Удалить</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-sm">
      <tbody>
      <tr>
        <td><button type="button" class="btn btn-outline-success">Добавить новое событие</button></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
