<div class="row">
  <div class="col-md-9">
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
  </div>
</div>


<div class="row">
  <div class="col-md-9">
    <table class="table table-sm" style="background-color: #e6e6e6;">
      <tbody>
        <tr *ngFor="let category of categories">
          <td class="central">
            <p [hidden]="category.visibility">{{category.categoryName}}</p>
            <input class="form-control" [hidden]="!category.visibility" value="{{category.placeholder}}"
                   (focusout)="setUpdateValue($event, category.categoryId);">
          </td>

          <td>
            <button [hidden]="category.visibility" type="button" class="btn btn-outline-warning"
                      (click)="category.visibility = !category.visibility">Редактировать</button>
            <button [hidden]="!category.visibility" type="button"
                    class="btn btn-outline-warning" (click)="updateCategory(category.categoryId)">Готово</button>
          </td>
          <td>
            <button [hidden]="category.visibility" type="button" class="btn btn-outline-danger"
                      (click)="setCategoryToDelete(category.categoryId, category.categoryName); open(content);">Удалить</button>
            <button [hidden]="!category.visibility" type="button" class="btn btn-outline-danger"
                    (click)="category.visibility = !category.visibility">Отмена</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-sm">
      <tbody>
      <tr>
        <td><input class="form-control" #newCategoryName placeholder="Имя категории"></td>
        <td>
          <button type="button" class="btn btn-success" (click)="addCategory(newCategoryName.value); newCategoryName.value=''">
          Добавить категорию
          </button>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title ">Внимание!!!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Вы действительно хотите удалить категорию "{{categoryNameToDelete}}"?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="c('Close click'); deleteCategory();">Удалить</button>
    <button type="button" class="btn btn-outline-info" (click)="c('Close click')">Отмена</button>
  </div>
</ng-template>
