<div class="row">
  <div class="col-md-9">
    <p class="text-success">Операция завершена успешно</p>
    <p class="text-danger">Произошла ошибка</p>
  </div>
</div>


<div class="row">
  <div class="col-md-9">
    <table class="table table-sm" style="background-color: lightgrey;">
      <tbody>
      <tr>
        <td class="central">Театр</td>
        <td><button type="button" class="btn btn-warning">Редактировать</button></td>
        <td><button type="button" class="btn btn-danger">Удалить</button></td>
      </tr>
      <tr>
        <td class="central">Кино</td>
        <td><button type="button" class="btn btn-warning">Редактировать</button></td>
        <td><button type="button" class="btn btn-danger">Удалить</button></td>
      </tr>
      <tr class="bg-info">
        <td class="central"><input type="email" class="form-control" id="exampleInputCategory" placeholder="Имя категории" value="Классическая музыка"></td>
        <td><button type="button" class="btn btn-success">Сохранить</button></td>
        <td></td>
      </tr>
      <tr>
        <td class="central">Музеи</td>
        <td><button type="button" class="btn btn-warning">Редактировать</button></td>
        <td><button type="button" class="btn btn-danger">Удалить</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-sm">
      <tbody>
      <tr>
        <td><input type="email" class="form-control" id="ddexampleInputCategory" placeholder="Имя категории" value="Классическая музыка"></td>
        <td><button type="button" class="btn btn-success">Добавить категорию</button></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
